* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('images/background.png')
}

h1 {
    text-align: center;
    color: lightgreen;
}

p {
    margin: 0;
}


button {
    border-radius: 4px;
    padding: 6px 20px;
    border: 2px solid #4CAF50;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

.main {
    background-color: #ccc;
    width: 650px;
    height: 450px;
    border-radius: 4px;
    margin: 0 auto;
    position: relative;
}

.div-current-balance {
    margin-top: 30px;
    position: absolute;
    top: 0;
    left: 30px;
}

.div-income {
    position: absolute;
    top: 150px;
    left: 30px;
}

.div-expense {
    position: absolute;
    top: 150px;
    right: 30px;
}

.input {
    width: 200px;
    height: 35px;
    margin: 10px auto;
    margin-top: 2px;
    color: black;
    border-radius: 4px;
    border: solid white;
    outline: none;
    padding-left: 10px;
    transition: width 0.4s ease-in-out;
}

.input:focus {
    background-color: lightgreen;
    color: white;
    width: 350px;
}

.current-balance {
    position: absolute;
    bottom: 55px;
    left:0;
    margin-left: 30px;
    font-weight: bold;
}

.daily-limit {
    position: absolute;
    bottom: 0;
    left:0;
    margin-left: 30px;
    margin-bottom: 25px;
    font-weight: bold;
}
